<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>530854665001-qha61aplsb62vtjiskgt3o2v1j8b472a.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.530854665001-qha61aplsb62vtjiskgt3o2v1j8b472a</string>
	<key>API_KEY</key>
	<string>AIzaSyCT8ucZrZu19LDKG_b6mRRVMNSoP2YHiT4</string>
	<key>GCM_SENDER_ID</key>
	<string>530854665001</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.hrSystem</string>
	<key>PROJECT_ID</key>
	<string>hrsystem-bfd42</string>
	<key>STORAGE_BUCKET</key>
	<string>hrsystem-bfd42.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:530854665001:ios:ea5abafbc574f603bdb538</string>
</dict>
</plist>